body {
  background-color:#91BAD6 ;margin-top:0px
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
.guide {background-color: #91BAD6;border:5px solid white;font-size: 16px;}

.all{background-color: white;border:5px solid goldenrod;}
.all{text-align:center;}

.crop {
  height: 10%;width:10px;
  border-radius: 10%;
  overflow: hidden;
  position: relative;
}
.circle{text-align: center;}
.student{background-image:url(images/eighth.jpg); background-size: cover;width: 345px; height:300px;}
